<%- include('header') %>
<%- include('sidemenu') %>
<div class="aigis-contents">
  <div class="aigis-contents__body">
    <h2 class="aigis-module__heading"><%- title %></h2>
    <%- html %>
  </div>
</div>
<%- include('footer') %>
