if components.length
  nav
    h2.aigis-module__heading Components
    ul.aigis-moduleList
      each component in components
        li.aigis-moduleList__item
          a(href='#' + component.config.name) #{component.config.name}
  each component in components
    .aigis-module
      h2.aigis-module__heading(id=component.config.name) #{component.config.name}
      .aigis-module__filepath!= component.sourcePath
      ul.aigis-tags
        each tag in component.config.tag
          li.aigis-tags__item(class='aigis-tags__item--' + tag) #{tag}
      != component.html
else
  != html
