.aigis-sidemenu
  header.aigis-header
    a(href=root + 'index.html') #{config.name}
  h2.aigis-sidemenu__heading Category
  nav.aigis-categoryList
    != helper.renderCollectionTree('category')
  h2.aigis-sidemenu__heading Tag
  nav.aigis-tags.aigis-tagList
    each tag in config.collection.tag
      a.aigis-tags__item(class="aigis-tags__item--" + tag, href=root + 'tag/' + tag + '/index.html') #{tag}
  h2.aigis-sidemenu__heading
    a(href=root + 'color.html') All Colors
