{{{header}}}
  <div class="ronde-sidemenu">
  {{{sidemenu}}}
  </div>
  <div class="ronde-contents">
  <h1 class="ronde-heading">{{name}}</h1>
  {{#each contents}}
  {{{this}}}
  {{/each}}
  </div>
{{{footer}}}
