<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{name}}</title>
    <link href="{{path}}/ronde_assets/css/highlight/{{highlight}}.css" rel="stylesheet">
    <link href="{{path}}/ronde_assets/css/theme.css" rel="stylesheet">
    <link href="{{path}}/static/css/ronde.css" rel="stylesheet">
    <link href="{{path}}/static/css/test.css" rel="stylesheet">
  </head>
<body>
<header class="ronde-header">Ronde</header>
<div class="ronde-container">
