<!DOCTYPE html>
<html>
  <%- include('header') %>
  <body>
  <%- include('sidemenu') %>
  <div class="aigis-contents">
    <div class="aigis-contents__body">
      <%- html %>
      <%- include('components') %>
    </div>
    <%- include('footer') %>
  </div>
  </body>
</html>
