<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../assets/css/lib/monokai.css">
    {{#each assets_css}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
    {{#each css}}
    <link rel="stylesheet" href="{{this}}">
    {{/each}}
  </head>
  <body>
    {{#each assets_js}}
    <script src="{{this}}"></script>
    {{/each}}
    {{{body}}}
  </body>
</html>
