{{#if components.length}}
<nav>
  <h2 class="aigis-module__heading">Components</h2>
  <ul class="aigis-moduleList">
    {{#each components}}
      <li class="aigis-moduleList__item">
        <a href="#{{this.config.name}}">{{this.config.name}}</a>
      </li>
    {{/each}}
  </ul>
</nav>
<div>
  {{#each components}}
  <div class="aigis-module">
    <h2 class="aigis-module__heading" id="{{this.config.name}}">
      {{this.config.name}}
    </h2>
    <div class="aigis-module__filepath">
      {{this.sourcePath}}
    </div>
    <ul class="aigis-tags">
      {{#each this.config.tag}}
        <li class="aigis-tags__item aigis-tags__item--{{this}}">{{this}}</li>
      {{/each}}
    </ul>
    {{{this.html}}}
  </div>
  {{/each}}
</div>
{{else}}
  {{{html}}}
{{/if}}
