<!DOCTYPE html>
<html>
{{include './header.hbs'}}
<body>
{{include './sidemenu.hbs'}}
<div class="aigis-contents">
  <div class="aigis-contents__body">
    <h2 class="aigis-module__heading">{{title}}</h2>
    {{{html}}}
  </div>
  {{include './footer.hbs'}}
</div>
</body>
</html>
