<!DOCTYPE html>
<html>
{{include "./header"}}
<body>
<div class="aigis-container">
  {{include "./sidemenu"}}
  <div class="aigis-contents">
    <div class="aigis-contents__body">
      {{{html}}}
      {{include "./components"}}
      {{include "./footer"}}
    </div>
  </div>
</div>
</body>
</html>
