{{!--
{
  header: {String},
  sidemenu: {String},
  modulelist: {String},
  modules: {String},
  footer: {String},
}
--}}
{{{header}}}
{{{sidemenu}}}
<div class="aigis-contents">
  <div class="aigis-contents__body">
    <h2 class="aigis-module__heading">{{name}}</h2>
    {{{modulelist}}}
    {{{modules}}}
  </div>
</div>
{{{footer}}}
