{{!--
{
  header: {String},
  sidemenu: {String},
  modulelist: {String},
  modules: {String},
  footer: {String},
}
--}}
{{{header}}}
{{{sidemenu}}}
<div class="aigis-contents">
  <h2 class="aigis-module__heading">{{name}}</h2>
{{{modulelist}}}
{{{modules}}}
</div>
{{{footer}}}
