{{!--
{
  header: {String},
  sidemenu: {String},
  modulelist: {String},
  modules: {String},
  footer: {String},
}
--}}
{{{header}}}
{{{sidemenu}}}
<div class="aigis-contents">
  <h1 class="aigis-heading">{{config.name}}</h1>
{{{modulelist}}}
{{{modules}}}
</div>
{{{footer}}}
